/************************************************************************************
//smaller than 530
*************************************************************************************/
.header-left img
{
width:150px;
}

.body_class {
		height:52px;
	}

@media screen and (min-width: 340px) {
	
	.mobile_wrapper
	{
		width:340px;
		margin: 0 auto;
	}
	.center_footer_page {
    margin: 0 auto;
    padding: 10px 0 0;
    width: 340px;
	}
	

}
@media screen and (min-width: 480px) {
	
	
	.mobile_wrapper
	{
		width:480px;
		margin: 0 auto;
	}
	.center_footer_page {
    margin: 0 auto;
    padding: 10px 0 0;
    width: 480px;
	}
	/*img
{
	max-width: 55%;
	height: auto;
	width: auto\9;  ie8 
	
}*/

}

