@charset "utf-8";
/* CSS Document */
@font-face 
{
	font-family: ArnoPro;
	src: url(fonts/ArnoPro-Bold.otf);
}
@font-face 
{
	font-family: ARLRDBD;
	src: url(fonts/ARLRDBD.TTF);
}
@font-face 
{
	font-family: BKANT;
	src: url(fonts/BKANT.TTF);
}
@font-face 
{
	font-family: COLONNA;
	src: url(fonts/COLONNA.TTF);
}
@font-face 
{
	font-family: CENTAUR;
	src: url(fonts/CENTAUR.TTF);
}
*{
margin:0;
padding:0;
}
.clear
{
 clear:both;
}
a
{
	text-decoration:none; color: #000000
}



a img{ border:0px; outline:none;}

img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;

	
}
.body_class
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#d3954c;
	height:87px;
	
}
.center_header_page
{	
	width: 100%;
	margin:0 auto;
	padding:0px;
}
.center_header_page1
{	
	 width: 100%;
	margin:0 auto;
	padding:0px;
}
.center_header_pageinner
{	
	width:960px;
	margin:0 auto;
	padding:0px;
}

/****************HEADER-WRAPPER*******************/
.header
{	margin:0;
padding:0px;

}
.header-left
{
	float: left;
    margin: 12px 0 0 0;
    text-align: center;
    width: 100%;
}
.header-right
{
	float:right;
	 margin: -23px 5px 0 0;
}
/****************HEADER-WRAPPER*******************/
/****************MENU-WRAPPER*******************/
.menu_wrapper
{
	margin:0px;
	margin:35px 0 0 0;
}
.menu_wrapperinner
{
	margin:0px;
	margin:35px 0 0 0;
}

.menu_first
{
	float:left;
	margin-left: 45px;
    
}
.menu_firstinner
{
	float:left;
	margin-left: 65px;
    
}

.menu_img
{
	float:none;
	text-align: center;
	height:30px;
	
}
.menu_content
{
	float:none; 
}
.menu_contentinner
{
	float:none; width:130px
}

.menu_content a
{
	font-size:26px;
	font-family:ArnoPro;
	color:#ba782a;
	
}
.menu_contentinner a
{
	font-size:26px;
	font-family:ArnoPro;
	color:#ba782a; width:130px;
	width:130px;
	float:left; text-align:center;
}


.home
{
	margin:0px;
	}
.home img
{
	margin-top:6px;
}
.menu_content a:hover
{
	color:#000000;
}
.menu_contentinner a:hover
{ background-image:url(images/top.png);
 background-repeat:no-repeat; 
 width:130px; float:left; text-align:center;
}
.menu_contentinner.active
{ background-image:url(images/top.png);
 background-repeat:no-repeat; 
 width:130px; float:left; text-align:center;
}
.menu_contentinner a:visited
{ background-image:url(images/top.png);
 background-repeat:no-repeat; 
 width:130px; float:left; text-align:center;
}



.line
{
	margin:0;
	padding:0;
	background:url(images/line.png) repeat-x;
	height:1px;
	width:100%;
}
/****************MENU-WRAPPER*******************/
/****************slider-WRAPPER*******************/
.slider_wrapper
{
	
	 position: relative;
    top: -52px;
	background:url(images/slider_bg.png) repeat-x;
	border-left:solid 1px #bbbbbb;
	border-right:solid 1px #bbbbbb;
	width:942px;
	
	padding:7px 5px 0 5px;
	height: 326px;
    margin-left: 2px;
}


.slider
{
	
	width:940px;
	
	
}
.slider_buttom
{
	  background: url("images/slider_buttom.png") no-repeat scroll 0 0 transparent;
    height: 105px;
    margin: 0;
    position: relative;
   top: 386px;
    width: 960px;
}
.slider_text
{
	color:#fff;

	padding-top:17px;
	float:left;
	margin-left: 12px;
}
.slider_text h3
{
	float:left;
	font-size:24px;
	font-family: CENTAUR;
	
}
.slider_text p
{
	float:left;
	font-size:17px;
		font-family: CENTAUR;
		 line-height: 30px;
    margin-left: 10px;
}
/****************slider-WRAPPER*******************/
/****************CONTENT-WRAPPER*******************/
.content
{
	padding: 5px 7px 5px 5px;
    width: 95%;
}
.content1
{
	width:700px;
	padding: 10px 10px;
}
.content_first
{
	margin:0px;
	
}
.content_first img
{
	float:left;
	
	
}
.content_first_heading
{
	padding-bottom:15px;
}
.content_first h2
{
	float:left;
	margin: 0 18px;
	font-size:30px;
	font-family:ARLRDBD;
	color:#ba782a;
	  margin: -19px 18px 0;
	
	
}
.content_first p
{
	
	color:#8f8e8e;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:justify;
	padding-top: 15px;
	
}
.content_learn
{
	float:right;
	padding-top: 8px;
	width:60px;
}
.content_learn h3
{
	float:left;
	font-size:13px;
	
}
.content_learn_more 
{
	width:97px;
	}
.content_learn img
{
	float:right;
	margin: 8px 7px 0 3px;
}
.content_sec_heading
{
	margin: 0px 0 0;
}
.content_sec_heading h2
{
	 margin: -19px 68px 0;
}
.content_second
{
	width:850px;
	float:left;  margin-top: 20px;
}
.content_sec_left
{
	float:left;
	width:338px;
}
.content_sec_right
{
	float:right;
	width:355px;
}
.content_sec_left_first
{
	float:left;
}
.content_sec_left_first_img
{
	float:left;
}
.content_sec_left_first_head
{
	float:left;
	border-bottom:solid 1px #d3d3d3;
	color:#9e6624;
	font-size: 19px;
	font-family:ARLRDBD.TTF;
	
   
    margin-top: 34px;
	
}
.content_sec_left_first_detail

{
	margin:0px;
	
}
.content_sec_left_first_detail p
{
	width:311px;
	margin-left: 25px;
	padding-top: 25px;
	color:#4b4b4b;
}
.content_sec_left_margin
{
	margin-left: 8px;
    margin-top: 20px;
}
.content_sec_right p
{
	width:311px;
	margin-left: 35px;
	padding-top: 25px;
	color:#4b4b4b;

}
.content_sec_right_margin
{
	margin: 25px 0 0 8px;
}
.content_third
{
	margin:0px; width:500px;
	padding:40px 0 0;
}
.content_thirdlog
{
	margin:0px;
	padding:10px 0 0;
}
.content_third_left
{
	float:left;
	width:450px;
	
}
.content_thirdlog_left
{
	float:left;
	width: 100%;
	
}
.content_thirdlogpopup_left
{
	 border: 1px solid #CCCCCC;
    float: left;
    height: auto;
    margin-bottom: 15px;
    width: 99%;
    
}

.content_thirdlog_lefttable
{
	float:left;
	width: 99%;
	
}
.content_thirdlog_lefttable1
{
	float:left;
	width:700px;
	
}
.content_third_left1
{
	float:left;
	width:450px;
	margin-left:200px
}

.content_third_center
{
	width:9px;
	height:786px;
	float:left;
	background:url(images/vertical_line_2.png) no-repeat;
}
.content_third_center1
{
	width:9px;
	height: 400px;
	float:left;
	background:url(images/vertical_line_3.png) no-repeat;
}
.content_thirdlog_center1
{
	width:9px;
	height: 400px;
	float:left;
	background:url(images/vertical_line_3.png) no-repeat;
}
.content_third_right
{
	 float: left;
       padding-left: 12%;
    width: 77%;
	padding-bottom: 2%;
}
.content_thir_left_first
{
	margin:0px;
}
.content_third_left_sec
{
	margin:0px;
}
.content_thir_left_first h3
{
	float:left;
	border-bottom:solid 1px #d3d3d3;
	color:#010101;
	font-size: 30px;
	font-family: BKANT;
}
.content_third_left_first_block
{
	background:url(images/content_third.png) no-repeat;
	height: 157px;
    margin: 25px 0 0 25px;
    width: 408px; float:left;
}
.content_third_left_first_block p
{

	font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin:18px 0 0 25px;
    padding-top: 0;
    text-align: left;
    width: 375px;
	color:#000;  padding-top:18px;
	
}
.content_third_left_first_block h4
{
	float:right;
	   font-size: 14px;
    margin-right: 65px;
    margin-top: 15px;
	color:#9e6624;
}

.content_third_left_second
{
	margin:10px 0 0;
	color:#010101;
	font-size: 200%;
	font-family: BKANT;
	
}

.content_third_left_second h3
{
	border-bottom:solid 1px #d3d3d3;
	
}
.content_third_left_contact
{
	margin:20px 0 0 45px;
}
.content_third_left_contactlog
{
	margin:20px 0 0 1px;
}
.content_third_left_contactlogpro
{
	margin:20px 0 0 1px;
}

.content_third_left_contact_input
{
	float:none;
	padding-bottom: 35px;
	
}
.content_third_left_contactlog_input
{
	float:none;
	padding-bottom: 40px;
	
}
.content_third_left_contactlogpro_input
{
	float:none;
	padding-bottom: 40px;
	
}
.content_third_left_contactlogpro_select
{
	float:none;
	padding-bottom: 40px;
	
}


.content_third_left_contact_txtarea
{
float:none;
	padding-bottom: 20px;

}
.content_third_left_contactlog_txtarea
{
float:left;
	padding-bottom: 0px;

}
.forget-title
{
	padding-top: 12px;
	  width: 50%;
}
.content_third_left_contact p
{
font-size: 15px;
color:#000;
float:left;
padding:0px;
font-weight:bold;
font-family: Arial,Helvetica,sans-serif;
margin-right: 20px;
 margin-top: 5px;
}
.content_third_left_contactlog p
{
font-size: 15px;
color:#000;
float: left;
padding:0px;
font-weight:bold;
font-family: Arial,Helvetica,sans-serif;
 margin-right: 5%;
 margin-top: 5px;
}
.content_third_left_contactlogpro p
{
font-size: 52%;
color:#000;
float: left;
padding:0px;
font-weight:bold;
font-family: Arial,Helvetica,sans-serif;
margin-right: 0px;
 margin-top: 5px;  width: 25%;
}
.content_third_left_contact span
{
font-size: 12px;
color:#000;
float:left;
padding:0px;

font-family: Arial,Helvetica,sans-serif;
margin-right: 20px;
 margin-top: 5px;
}
.content_third_left_contactlog span
{
font-size: 12px;
color:#000;
float:left;
padding:0px;

font-family: Arial,Helvetica,sans-serif;
margin-right: 20px;
    margin-top: 12px;
}
.content_third_left_contact input
{
	
	width:225px;
	margin-left:28px;
	height:25px;
	background-color:#d3d2d2;
	border:solid 2px #aaaaaa;
	
}
.content_third_left_contactlog input
{
	
	width: 66%;
	
	height:25px;
	float:left;
	background-color:#d3d2d2;
	border:solid 2px #aaaaaa;
	
}	
.content_third_left_contactlogpro input
{
	
	width:73%;
	margin-left:0px;
	height:25px;
	float:left;
	background-color:#d3d2d2;
	border:solid 2px #aaaaaa;
	
}
.content_third_left_contactlogpro select
{
	
	width:74%;
	margin-left:0px;
	height:29px;
	float:left;
	background-color:#d3d2d2;
	border:solid 2px #aaaaaa;
	
}		
.content_third_left_contact_txtarea textarea
{
	 width: 73%;
	height:105px;
	background-color:#d3d2d2;
	border:solid 2px #aaaaaa;
	overflow:hidden;
	resize:none;
	
	
}
.content_third_left_button
{
	float:right;
	background-color: #666666; border:#999999 3px solid;
	
	   margin-right: 2%;
	 padding: 8px 24px 8px;
	
}
.content_third_left_buttonlog
{
	float:left;
	background-color:#666666; border:#999999 3px solid;
	
	text-align: center;
	 padding: 8px 28px 8px;
	
}
.content_third_left_buttonagain
{
	float: left;
	background-color:#666666; border:#999999 3px solid;
	
	 padding: 8px 2%;
	 margin-top:10px;
	  margin-bottom: 10px;
	
	
	
}

.content_third_left_buttondevice
{
	margin-left: 33%;
	background-color:#666666; border:#999999 3px solid;
	
	
	 padding: 8px 25px 0px ;
	 float:left;
	
}
.content_third_left_buttondevicepop
{
	float:right;
	background:url(images/button2.png) no-repeat;
	
	 margin-right:40px;
	 padding: 8px 40px 8px 
	
}
.content_third_left_buttondevicedelete
{
	float:right;
	background: url(images/deletebutton.png) no-repeat;
	
	 margin-right:60px;
	 padding: 28px 50px 8px 
	
}

.content_third_left_buttondevicepopedit
{
	float:right;
	background: url(images/EDIT.png) no-repeat;
	margin-right:0px;
	 padding: 28px 50px 8px 
	
}



.content_third_left_button a
{
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:center;
	padding-bottom:10px;
	
	 margin: 0;
}
.content_third_left_buttonlog a
{
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:center;
	padding-bottom:10px;
	
	 margin: 0;
}
.content_third_left_buttonagain a
{
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:center;
	padding-bottom:10px;
	
	 margin: 0;
}

.content_third_left_buttondevice a
{
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:left;
	padding-bottom:10px; float:left;
	
	 margin:0
}
.content_third_left_buttondevicepop a
{
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:left;
	padding-bottom:10px; float:left;
	
	 margin:0
}
.content_third_left_buttondevicedelete a
{
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:left;
	padding-bottom:10px; float:left;
	
	 margin:0
}



.content_third_left_buttondevicepopedit a
{
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	text-align: justify;
	 float:left;
	
}



.content_third_left_buttom
{
background: url("images/call_img.png") repeat-x scroll 0 0 transparent;
    border-left: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    height: 61px;
    margin: 92px 0 0 25px;
    padding-top: 17px;
    width: 405px;
}
.content_third_left_buttom img
{
	
	margin-left:40px;
}
.content_third_left_buttom p
{
	float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: -2px 0 0 20px;    color: #010101;
}
.content_third_right_heading
{
	float:left;
	border-bottom:solid 1px #d3d3d3;
	margin-bottom: 27px;
	
}
.content_third_right_heading h2
{
	margin:0px;
	float:left;
}

.content_third_right_mrg
{
	margin:0px;
		
}
.content_third_right_mrg_head
{
	margin:0px;
	left: -7px;
    
    position: relative;
    top: 5px;
}
.content_third_right_mrg_head h3
{
	
	
	color:#010101;
	margin:0px;
	font-size:18px;

}

.content_third_right_mrg img
{
	margin:0px;
}
.content_third_right_first
{
	padding-top:  22px;
}
.content_third_right_firstlog
{
	padding-top: 0px; background-color:#d5a66e; margin-top:10px;
	height:300px
}

/****************CONTENT-WRAPPER*******************/
/****************FOOTER-WRAPPER*******************/
.footer-wrapper
{
	height:73px;
	background-color:#d3954c;
}
.center_footer_page
{	
	/*width:960px;
	margin:0 auto;
	padding:10px 0 0 0;*/
	   margin: 0 auto;
    padding: 10px 0 0;
    width: 100%;
}
.footer_center
{
	/*width:960px;*/
	border-bottom:solid 1px #d8a970;
	border-top:solid 1px #d8a970;
	height: 44px;
}
.footer_navi
{
	
    padding-top:13px;
   text-align: center;
    width: 100%;
}
.footer_navi a
{
	
	
	  border-left: 1px solid #6C6C6C;
    color: #1E1E1E;
    font-family: ArnoPro;
    font-size: 14px;
    margin-left: 1%;
    
    padding-left: 1%;
}
.footer_navi a:first-child
{
	margin-left:1%;
	 border-left: 0px solid #6C6C6C;
	 
    margin-right: 0%;
    padding-left: 0%;
}
.footer_navi a:hover
{
	color:#fefefe;
}
.footer_buttom
{
	height:38px;
	text-align:center;
	background-color: #D3954C;
	
	width: 100%;
}
.footer_buttom h3
{
	float:none;
	font-family: COLONNA;
	font-size:20px;
	color:#dbba94;
	
}
.footer_buttom p
{
	float:none;
	color: #8F8E8E;
	 
	font-family:Arial, Helvetica, sans-serif;
}
.map-box{
	<!--  background-image:url(images/template_22.jpg);-->
    float: left;
    height: 111px;
    margin-top: 0px;
   <!-- padding-top: 6px; -->
    text-align: center; margin-left:0px;
    width: 100%;} 

/****************FOOTER-WRAPPER*******************/

.wrapper-center
{
	 width:100%;
	 
	margin:0 auto;
}
.mobile_wrapper
{
	width:100%;
	margin:0 auto;
}
.about_tracker_page p
{
	padding:0 3% 0 1%;
}
.submit_track
{
	margin-left:25%;
	
}
.track_page
{
	margin: 20px 16%;
    width: 90%;
}
.editdevice_s p
{
	width:50%
}
.edit_device_form_sp
{
	  margin: 0 5%;
    width: 90%;
}
.edit_device_form_sp p
{
	width:55%;
	padding-bottom: 5px;
}
.edit_device_form_sp input
{
	width:95%;
}
.edit_device_form_sp select
{
	width:97%;
}
