<h3>{logo}</h3><h4>Purchase Details</h4><p>
   Hello {contact_person} ({company}),</p><p>Please find the attachment for our purchase order ({reference_number}) details.</p><p>
         Best regards,
 <br>
         {site_name}</p>