<h3>{logo}</h3><h4>Quotation Details</h4><p>
   Hello {contact_person} ({company}),</p><p>Please find the attachment for our purposed quotation ({reference_number}).</p><p>
         Best regards,
 <br>
         {site_name}</p>