<h3>{logo}</h3><h4>Sale Details</h4><p>
   Hello {contact_person} ({company}),</p><p>Please find the attachment for your sale order ({reference_number}) details.</p><p>
 <a href="{client_link}"></a></p><p>
         Best regards,
 <br>
         {site_name}</p>